.main-container-edit {
    margin: 30px 40px;
}

.main-container-edit .table-content{
    height: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.table-content-edit {
    text-align: left;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    overflow: auto;
    width: 50%;
}

.btn-save {
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}

.btn-save:hover {
    width: 100px;
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
}

.btn-position {
    display: flex;
    flex-direction: row-reverse;
}

.main-container-edit .title {
    background-color: var(--primary-color);
    display: inline-block;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
}

.student-score-item{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 20px;
    margin: 30px 0;
}

.student-score-item .table-content #table .th-content input{
    width: 200px;
} 