@import "../../assets/css/variables.css";
@import "../../assets/css/custom.css";

.footer-content {
    background: var(--primary-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 110px;
    color: var(--text-color);
    color: white;
}

.footer-content p {
    font-size: var(--font-big-large);
    display: inline;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-item {
    display: inline;
}

.footer-content .icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    align-items: center;
}

.footer-content .icon-c {
    margin: 0 4px;
    align-items: center;
    width: 18px;
    height: 18px;
}

.copyright-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright-info .icon-info{
    width: 24px;
    height: 24px;
    margin: 8px 6px;
    margin-right: 0;
    background-color: #fff;
    border-radius: 50%;
    padding: 6px;
    color: var(--text-color);
}
