@import "../../../assets/css/variables.css";
@import "../../../assets/css/custom.css";

.form-add-protector {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
}

.form-add-protector .add-protector-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.form-add-protector .add-protector-content input{
  height: 44px;
  width: 400px;
}